@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  --font-display: "Poppins", "sans-serif";
  --breakpoint-3xl: 1920px;
  --color-primary: #1368EC;
}

@layer base {
  html {
    font-family: var(--font-display);
  }

  body {
    background-color: #fcbfbc;
    overflow-x: hidden;
  }
}